/*Student Name: Hung-Ching Lee
	File Name: styles.css
	Date: 05/06/2024*/

/*CSS Reset*/
#css1, #css2, #css3{
    width: 30%;
    float: left;
    padding: 0 1%;
    text-decoration: none;
}

/*Body*/
body{
    padding: 2%;
    background-color: #d1d1e0;
    text-decoration: none;
}

/*Header*/
header h1{
    text-align: center;
    font-size: 3em;
    font-family: Georgia, Times, serif;
    padding: 3%;
    color: #47476b;
    text-decoration: none;
}

/*Nav*/
nav{
    background-color: #47476b;
    text-decoration: none;
    text-align: center;
}

nav ul{
  margin: 0;
  text-decoration: none;
}

nav li{
    display: inline-block;
    font-size: 1.5em;
    font-family: Verdana, Arial, sans-serif;
    font-weight: bold;
    text-decoration: none;
}

nav li a{
  display: block;
  color: #e3eaf8;
  padding: 0.5em 2em;
  text-decoration: none;
}

/*Main*/
main{
    padding: 2%;
    font-family: Geneva, Arial, sans-serif;
    color: #47476b;
    text-decoration: none;
    font-weight: bold;
    font-style: italic;
    overflow: auto;
}

main p{
    font-size: 1.25em;
    text-decoration: none;
}

#w3{
  text-decoration: none;
}

#css21{
  text-decoration: none;
}

#css22{
  text-decoration: none;
}

#current{
  text-decoration: none;
}

main h3{
    padding-top: 2%;
    font-size: 2em;
    text-decoration: none;
}

/*Footer*/
footer{
    text-align: center;
    font-size: 0.85em;
    color: #47476b;
    padding: 1% 0;
    border-top: 3px solid;
    clear: left;
}
